body {
    height:100%;
    min-height:770px;
  background: rgba(0, 0, 0, 0.76);
}

.title {
  color: #fff;
}

.logo {
  padding: 2px;
  /* float: left; */
}

hr{
    margin-top: auto;
    border-top: 5px solid #fff;
}

.mm{
    padding-top: 25px;
}

.table{
  width: 100%;
  margin-top: 25px;
}

.rounded-circle{
    background-image: url('/assets/logout.png') ;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 150px;
    right: 150px; 
}

a{
  color: #fff;
}

a:hover{
  color: lightgray;
}

.center{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-group{
  display: flex;
  flex-direction: row;
}


.over{
  
  overflow: auto;
  max-width: 350px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0583F2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0583F2;
}

h1,
h2,
h3 {
  font-family: 'Kaushan Script', cursive;
}
